<div>
  {{!-- <span class="badge badge-primary">{{interest.value}}</span> --}}
  {{#if image}}
  <img  width="200" src="/Images/{{image}}" />
  {{/if}}
  {{post_text}}
</div class="meta">

{{love_count}} {{format_plural "🖤" love_count}}
by
<a class="app-link" href="/profile/{{id}}">{{user.username}}</a>
on
{{format_date created_at}}
<a class="app-link" href="/post/{{id}}">{{comments.length}}
  {{format_plural "comment" comments.length}}</a>

