<div>
  <img  width="200" src="/Images/{{image}}" />

  {{post_text}}
  

</div class="meta">
{{!-- {{#if love_count}} --}}
{{love_count}} {{format_plural "love" love_count}}
{{!-- {{/if}} --}}
by
{{user.username}}
on
{{format_date created_at}}
|
<a class="app-link" href="/post/{{id}}">{{comments.length}}
  {{format_plural "comment" comments.length}}</a>

  {{!-- id="HideImg"
  onerror="hideImg()" --}}