<div class="card my-5">
  <h2 class="card-header form-title">Create New Post</h2>
  <div class="card-body form-bg-custom">
    <form id="new-post-form" name="new-post-form">
      <div class="form-group">
        <div>
          {{!-- <h3>Upload Image</h3>
          <form method="POST" action="/upload" enctype="multipart/form-data"></form>
          <input type="file" name="image"> --}}
          <textarea
            class="form-control"
            rows="5"
            id="post-text"
            name="post_text"
          ></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-custom">Submit Post</button>
    </form>
  </div>
</div>

{{#if posts.length}}
  <section>
    <h2 class="section-title">Your Posts</h2>
    <ol>
      {{#each posts as |post|}}
        <li>
           {{!-- {{> post-info post}} --}}
          <a href="/post/{{id}}"><div class="card my-5">
              <div class="card-header form-title">
              </div>
              <div class="card-body form-bg-custom">
                <div>
                  {{post_text}}
                </div>
                by
                {{user.username}}
                on
                {{format_date created_at}}
                <a class="app-link" href="/post/{{id}}">{{comments.length}}
                  {{format_plural "comment" comments.length}}</a>
              </div>
            </div></a>         
          <button class="btn" id="edit-post-btn">
            <a href="/dashboard/edit/{{id}}">Edit Post</a>            
          </button>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}

<script src="/javascript/add-post.js"></script>