<div class="card my-5">
  <div class="card-header form-title">
    <h2>Your Profile</h2>
  </div>
  <div class="card-body form-bg-custom">
    <div class="row">
      <h5 class="col" style="color: #218380">Name</h5>
      <h6 class="col">{{user.name_first}} {{user.name_last}}</h6>
    </div>  
    <div class="row">
      <h5 class="col" style="color: #218380">Username</h5>
      <h6 class="col">{{user.username}}</h6>
    </div>
    <div class="row">
      <h5 class="col" style="color: #218380">Email</h5>
      <h6 class="col app-link"><a href="mailto:">{{user.email}}</a></h6>
    </div>
    <div class="row">
      <h5 class="col" style="color: #218380">Interest</h5>
      <h6 class="col">{{interest}}</h6>
    </div>
    {{!-- <p>Interest Level:</p> --}}
  </div>
</div>

{{!-- <a href="mailto:shanicesaucedaworks@gmail.com"></a> --}}