<div class="card my-5">
  <div class="card-header form-title">
    <h2>Your Profile</h2>
  </div>
  <div class="card-body form-bg-custom">
    <p>Name: {{user.name_first}} {{user.name_last}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Interest: {{interest}}</p>
    {{!-- <p>Interest Level:</p> --}}
  </div>
</div>