{{!-- {{> post-info post }}  --}}
<div class="card my-5">
  <div class="card-header form-title">
    <p>
      <a class="card-header" href="/post/{{id}}">{{post_text}}</a>
    </p>
  </div>
  <div class="card-body form-bg-custom">
    <p>
      {{post_text}}
    </p>
    by
    {{user.username}}
    on
    {{format_date created_at}}
    <a class="app-link" href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</div>

{{!-- {{#if loggedIn}}       --}}
      <div class="card my-5">
        <div class="card-body form-bg-custom">
          <form class="comment-form">
            <div class="form-group">
              <textarea
                class="form-control"
                id="comment"
                name="comment-body"
                rows="3"
              ></textarea>
            </div>
            <button class="btn btn-custom">Add Comment</button>
          </form>
        </div>
      </div>
      {{!-- {{/if}}  --}}
      
      {{!-- {{> comments post.comments}}  --}}
      
      {{!-- {{#if loggedIn}} --}}
      <script src="/javascript/comment.js"></script>
      {{!-- {{/if}} --}}